@charset "UTF-8";

body {
    margin: 0 auto;
    font-weight: 300;
    font-family: sans-serif;
    
}

.card-container {
    border: 1px solid black;
    width: 340px;
    border-radius: 20px;
    margin: 0 auto;
}

.thumb {
    overflow: hidden;
}

.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.contents {
    background-color: white;
    margin: 0 20px;
}

.contents strong {
    font-size: 20px;
}

.contents p {
    font-size: 15px;
    margin: 0 1.02em;
    text-align: justify;
}

.tag-container {
    display: flex;
    
    gap: 5px;
    flex-wrap: wrap;
    margin: 10px 0;
    font-size: 0.8em;
}

.tag-container li a {
    background-color: gray;
    
    width:fit-content;
    height: 30px;
    color: white;
    padding: 0px 20px;
    border-radius: 999px;
    display:flex;
    align-items: center;
    gap: 10px;
    
    
}

.tag-container li a:before {
    content: "#";
    margin-right: 4px;
}


.tag-container li a:hover { 
   background-color:rgba(0, 0, 0, 0.4);
   color: darkgreen;
}
