@charset "UTF-8";

body {
    background-color: #2c2c2c;
    color: white;
    font-family: sans-serif;
}

.figma-box {
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
   
    display: flex;
    flex-direction: column;
    gap: 90px;
    /* 메인축으로의 정렬 */
    justify-content: center;
    /* 교차축으로의 정렬 */
    align-items: center;

}

.figma-box img {
    width: 90px;
   
}

p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.5px;
}

.all-container img {
    display: flex;
    flex-direction: column;
    gap: 90px;
    /* 메인축으로의 정렬 */
    justify-content: center;
    /* 교차축으로의 정렬 */
    align-items: center;
}


article { 
    color: 1e1e1e;
}
.login {
    width: 283px;
    height: 42px;
    border: 3px solid ;
    text-align: center;
    border-radius: 8px;
    color: 1e1e1e;

}
.signup {
    width: 283px;
    height: 42px;
    border: 3px solid white;
    text-align: center;
    border-radius: 8;
}