@charset "UTF-8";

 body {

    background-image: url('../img/n_img/main.jpg');
   
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: 100%;
    color: white;
    
 }

 .page-header {
    background-image: linear-gradient(
        180deg,
        rgba(0,0,0,1) 0%,
        rgba(46,22,28,0) 100%
    );
 }

 .page-header .inner {
    width: 100%;
    max-width: 1290%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 88px;
    align-items: center;
    padding: 0 1.25rem;
 }

 .page-header h1 {
    width: 148px;
 }

.nav {
    display: flex;
    gap: 12px;
}

.nav select,
.nav button {
    height: 32px;
    border-radius: 8px;
    padding: 0 36px;
    min-width: 124px;
    font-size: 1rem;
}

.nav select {
    border: 1px solid #fff;
    padding-left: 30px;
    background-image: url(../img/n_img/Netflix_lang_iogo.svg);
    background-repeat: no-repeat;
    background-position: 12px center ;
    margin: 20px auto;
}

.nav button {
    background-color: red;
}

.onbording {
    width: 100%;
    max-width: 600px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.onbording h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
}

.onbording p {
    font-size: 22px;
    margin-bottom: 1rem;
}

.input-container {
    height: 56px;
    display: flex;
    gap: 8px;
    margin-top: 1rem;
}

.input-container input,
.input-container button {
    border-radius: 8px;
    padding: 0 1.25rem;
}

.input-container input {
    flex-grow: 1;
}

.input-container button {
    background-color: red;
    font-size: 1.25rem;
}

/* main */

.page-main {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    outline: 1px solid red;
}

.banner {
    border-radius: bold;/**/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 70px auto;
    border-radius: 10px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner:hover {
    scale: 1.1;
    transition: 0.5s;
}

.banner h3 {
    font-size: 1.25rem;
}

.banner h3 em {
    font-size: 600;
}

.banner a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(76, 76, 76);
    padding: 0.5rem 1.5rem;
    position: absolute;
    right: 30px;
    top: 50%;
    translate: 0 -50%;
    transition: 0.4s;
}

.banner a:hover {
    background-color: #1c1c1c;
}

/* 지금 뜨는 컨텐츠 */

.page-main .contents-container {
    margin : 2rem 0;
}

.page-main .contents-container h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.contents-container ol {
    display: flex;
    gap: 22px;
    overflow: auto;
}

.contents-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents-container .page-container {
    display: flex;
    gap: 20px;
}

.contents-container .page-container button.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.contents-container li {
    width: 200px;
    height: 252px;
    flex-shrink: 0;
    position: relative;
    padding-left: 1.25rem;

}

.contents-container li a {
    border-radius: 20px;
    overflow: hidden;
    display: block;
    height: 100%;
}

.contents-container li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents-container .num {
    position: absolute;
    font-size: 100px;
    color: #000;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: 4px #fff;
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    inset: auto auto 0 0;
    font-weight: 900;
}

.contents-container .num::before {
    content: attr(data-rank);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0;
    text-shadow: none;
    position: absolute;
    inset: 0 auto auto 0;
}

.reason-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.reason-container ul {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.reason-container li {
   max-width: 1512px;
    height: 200px;
    outline: 1px solid gold;
    background: url("../img/icons/sns_facebook.png") no-repeat right 10px bottom 15px/40px auto;
}